.auth {
  padding: 64px 0 61px 0;
}

.auth__buttons {
  margin-bottom: 40px;
}

.auth__title {
  text-align: center;
  color: var(--body-white-color);
  margin-bottom: 24px;
  font-weight: 700;
  line-height: 128.5714285714%;
  font-size: 14px;
}

.form-auth {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-auth__row {
  width: 100%;
}

.form-auth__column_flex {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form-auth__forgot {
  position: absolute;
  bottom: calc(-100% + 26px);
  right: 9px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  text-align: right;
  margin-top: 2px;
  line-height: 125%;
  -webkit-transition: all var(--transition) ease 0s;
  transition: all var(--transition) ease 0s;
  color: var(--body-white-color);
}

.form-auth__input {
  position: relative;
}

.form-auth__input.has-error + .form-auth__forgot {
  display: none;
}

.form-auth__label {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 121.4285714286%;
  text-transform: uppercase;
  color: var(--body-gray-color);
  margin-bottom: 24px;
}

.form-auth__socials {
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.form-auth__captcha {
  margin-bottom: 24px;
  width: 280px;
  height: 73px;
}

.form-auth__captcha img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.form-auth__checkbox {
  margin-bottom: 24px;
  display: inline-block;
}

.form-auth__button {
  min-width: 240px;
}

.form-auth__button span {
  margin-right: 12px;
  color: var(--body-main-color);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.socials-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 -12px 24px;
}

.socials-auth__item {
  padding: 0 12px;
}

.socials-auth__link svg {
  width: 40px;
  height: 40px;
  fill: var(--body-gray-color);
  -webkit-transition: all var(--transition) ease 0s;
  transition: all var(--transition) ease 0s;
}

@media (min-width: 575.98px) {
  .form-auth__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -12px;
  }

  .form-auth__column {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 50%;
    padding: 0 12px;
    margin-bottom: 24px;
  }
}

@media (min-width: 768.98px) {
  .auth__container {
    background: #000000;
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    max-width: 800px;
    padding: 48px;
  }
}

@media (max-width: 991.98px) {
  .auth {
    padding: 25px 0 58px 0;
  }
}

@media (max-width: 575.98px) {
  .auth__buttons {
    margin-bottom: 28px;
  }

  .auth__title {
    margin-bottom: 12px;
  }

  .form-auth__column {
    margin-bottom: 12px;
  }

  .form-auth__label {
    margin-bottom: 12px;
  }

  .form-auth__socials {
    padding-bottom: 12px;
  }

  .form-auth__captcha {
    margin-bottom: 12px;
  }

  .form-auth__checkbox {
    margin-bottom: 12px;
  }

  .form-auth__button {
    width: 100%;
  }

  .socials-auth {
    margin: 0 -12px 12px;
  }
}

@media (any-hover: hover) {
  .form-auth__forgot:hover {
    color: var(--body-pink-color);
  }

  .socials-auth__link svg:hover {
    fill: var(--body-pink-color);
  }
}