@-webkit-keyframes more-link-arrow {
  0% {
    right: 0;
  }

  50% {
    right: -5px;
  }

  100% {
    right: 0;
  }
}

@keyframes more-link-arrow {
  0% {
    right: 0;
  }

  50% {
    right: -5px;
  }

  100% {
    right: 0;
  }
}

.page {
  padding-bottom: 48px;
}

.page__slider {
  margin-bottom: 64px;
}

.page__slider:first-child {
  margin-top: 48px;
}

.page__slider:last-child {
  margin: 0;
}

.about-page__title {
  margin-bottom: 16px;
}

.about-page__content p {
  line-height: 125%;
  margin-bottom: 16px;
}

.about-page__content p:last-child {
  margin: 0;
}

.about-page__content h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--body-white-color);
  margin-top: 24px;
  margin-bottom: 16px;
}

.about-page__content h3:last-child {
  margin-bottom: 0;
}

@media (max-width: 991.98px) {
  .page__slider {
    margin-bottom: 48px;
  }

  .page__slider:last-child {
    margin: 0;
  }
}

@media (max-width: 768.98px) {
  .page {
    padding-bottom: 7px;
  }
}