.model__body {
  margin-bottom: 48px;
}

.model__tags {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.07);
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.body-model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.body-model__avatar {
  cursor: pointer;
  width: 170px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 170px;
  flex: 0 0 170px;
  height: 170px;
  border-radius: 50%;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.body-model__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
}

.body-model__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--body-white-color);
  margin-right: 8px;
}

.body-model__verified {
  margin-top: 2px;
}

.body-model__verified svg {
  width: 20px;
  height: 20px;
  fill: var(--body-pink-color);
  color: var(--body-background);
}

.body-model__main {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.07);
}

.info-model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -12.5px;
}

.info-model__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 0 12.5px;
}

.info-model__label {
  margin-bottom: 4px;
  color: var(--body-gray-color);
  line-height: 15px;
}

.info-model__value {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #FFFFFF;
}

.info-model__value_pink {
  color: var(--body-pink-color);
}

.main-model__description {
  color: var(--body-white-color);
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 24px;
}

.main-model__label {
  line-height: 15px;
  color: var(--body-gray-color);
  margin-bottom: 8px;
}

.main-model__link {
  color: var(--body-pink-color);
  font-size: 14px;
  line-height: 121.4285714286%;
  display: inline-block;
  margin-bottom: 20px;
}

.main-model__actions {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-item-align: start;
  align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-model__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-right: 16px;
}

.main-model__button span {
  font-weight: 400;
}

.main-model__button.button_stroke::before {
  background: var(--body-background);
}

.main-model__button:last-child {
  margin: 0;
}

.socials-model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -6px;
}

.socials-model__item {
  padding: 0 6px;
}

.socials-model__link svg {
  -webkit-transition: all var(--transition) ease 0s;
  transition: all var(--transition) ease 0s;
  width: 16px;
  height: 16px;
  fill: var(--body-pink-color);
}

.tags-model__title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.tags-model__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -6px;
}

.tags-model__item {
  padding: 0 6px;
  margin-bottom: 12px;
}

.tags-model__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid var(--body-pink-color);
  min-height: 33px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 17px;
  padding: 4px 16px;
  -webkit-transition: all var(--button-transition) ease 0s;
  transition: all var(--button-transition) ease 0s;
}

.tags-model__toggler {
  background: rgba(232, 43, 213, 0.05);
  border-radius: 6px;
  min-height: 33px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  color: var(--body-pink-color);
  -webkit-transition: all var(--button-transition) ease 0s;
  transition: all var(--button-transition) ease 0s;
  padding: 2px 16px;
  cursor: pointer;
}

.avatar-model::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(223.97deg, #E82BD5 -20.81%, #322EED 118.24%);
}

.avatar-model__body {
  -webkit-transition: all var(--transition) ease 0s;
  transition: all var(--transition) ease 0s;
}

.avatar-model__body img {
  position: relative;
  z-index: 3;
  width: 166px;
  height: 166px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  border-radius: 50%;
}

.avatar-model.active::before {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  top: calc(50% - 102px);
  left: 1px;
  width: 169px;
  height: 169px;
  border-radius: 10px;
  -webkit-transform: scale(2.49);
  transform: scale(2.49);
}

.avatar-model.active .avatar-model__body {
  position: absolute;
  top: calc(50% - 100px);
  -webkit-transform: scale(2.5);
  transform: scale(2.5);
}

.avatar-model.active .avatar-model__body img {
  border-radius: 10px;
}

.videos-model__actions {
  margin-bottom: 24px;
}

.videos-model__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -8px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.videos-model__item {
  padding: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 181px;
  flex: 1 1 181px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 352px;
  margin-bottom: 16px;
}

.videos-model__item video {
  -o-object-position: center !important;
  object-position: center !important;
}

.videos-model__item_vertical {
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 0 181px !important;
  flex: 0 0 181px !important;
}

.videos-model__item_big {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 28.333%;
  flex: 0 0 28.333%;
}

.videos-model__item_inner {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 337px;
  flex: 1 1 337px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -8px 16px;
}

.videos-model__item_inner .videos-model__block {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 0 8px;
}

.videos-model__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.videos-model__block_big {
  margin-bottom: 16px;
  -webkit-box-flex: 1 !important;
  -ms-flex: 1 1 100% !important;
  flex: 1 1 100% !important;
}

.videos-model__block_big video {
  -o-object-position: center !important;
  object-position: center !important;
}

.videos-model__paging {
  margin-top: 36px;
}

.actions-videos-model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.actions-videos-model__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-right: 24px;
}

.actions-videos-model__views {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 1px solid var(--body-gray-color);
  border-radius: 6px;
  overflow: hidden;
  height: 40px;
}

.actions-videos-model__view {
  width: 40px;
  height: 40px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all var(--transition) ease 0s;
  transition: all var(--transition) ease 0s;
  background: var(--body-background);
}

.actions-videos-model__view:first-child {
  border-right: 1px solid var(--body-gray-color);
}

.actions-videos-model__view svg {
  fill: transparent;
  -webkit-transition: all var(--transition) ease 0s;
  transition: all var(--transition) ease 0s;
  width: 20px;
  height: 20px;
  color: var(--body-white-color);
}

.actions-videos-model__view.active {
  background: rgba(255, 255, 255, 0.1);
}

.actions-videos-model__view.active svg {
  color: var(--body-gray-color);
}

@media (min-width: 400.98px) {
  .actions-videos-model__label {
    margin-right: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--body-white-color);
  }
}

@media (min-width: 575.98px) {
  .videos-model__block {
    height: calc(50% - 8px);
  }

  .videos-model__item {
    max-width: 400px;
  }

  .videos-model__item_vertical {
    max-width: 250px;
  }

  .videos-model__item_big {
    max-width: 400px;
  }
}

@media (min-width: 768.98px) {
  .model__content {
    padding: 24px 24px 36px;
    background: #000000;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
}

@media (min-width: 991.98px) {
  .body-model__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 48px;
  }

  .main-model {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-model__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-right: 24px;
  }

  .avatar-model.active::before {
    left: 119px;
  }

  .avatar-model.active .avatar-model__body {
    left: 120px;
  }
}

@media (max-width: 991.98px) {
  .model__body {
    margin-bottom: 24px;
  }

  .body-model {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .body-model__avatar {
    margin: 0 auto 48px;
  }

  .body-model__top {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .body-model__info {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .main-model__socials {
    margin-bottom: 24px;
  }

  .main-model__actions {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .main-model__button {
    padding: 2px;
    min-height: 44px;
    width: 44px;
  }

  .main-model__button span {
    display: none;
  }

  .socials-model {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .avatar-model.active::before {
    top: calc(50% - 100.5px);
  }
}

@media (max-width: 768.98px) {
  .model__tags {
    padding-bottom: 16px;
    margin-bottom: 16px;
  }

  .videos-model__paging {
    margin-top: 28px;
  }
}

@media (max-width: 575.98px) {
  .avatar-model.active::before {
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
  }

  .avatar-model.active .avatar-model__body {
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
  }

  .videos-model__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .videos-model__item_big {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .videos-model__item_inner {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 100% !important;
    flex: 1 1 100% !important;
  }

  .videos-model__block {
    width: calc(50% - 8px);
  }
}

@media (max-width: 400.98px) {
  .actions-videos-model__select {
    width: 100%;
  }

  .actions-videos-model__label {
    display: none;
  }
}

@media (max-width: 380.98px) {
  .videos-model__item_vertical {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 1 50% !important;
    flex: 0 1 50% !important;
  }
}

@media (any-hover: hover) {
  .main-model__link:hover {
    text-decoration: underline;
  }

  .socials-model__link:hover svg {
    fill: var(--body-violet-color);
  }

  .tags-model__link:hover {
    background: rgba(232, 43, 213, 0.3);
    color: var(--body-pink-color);
  }

  .tags-model__toggler:hover {
    background: var(--body-pink-color);
    color: var(--body-white-color);
  }

  .actions-videos-model__view:hover {
    background: var(--body-pink-color);
  }

  .actions-videos-model__view:hover svg {
    color: var(--body-white-color);
  }
}