.form-auth__row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  margin-bottom: 24px;
}

@media (min-width: 575.98px) {
  .form-auth__row .form-auth__label {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 0 12px;
  }
}

@media (max-width: 575.98px) {
  .form-auth__row {
    margin-bottom: 12px;
  }

  .form-auth__row .form-auth__label {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}