html:-webkit-full-screen .videos-model__items_list {
  display: -webkit-box !important;
  display: flex !important;
}

html:-ms-fullscreen .videos-model__items_list {
  display: -ms-flexbox !important;
  display: flex !important;
}

html:fullscreen .videos-model__items_list {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.video-js.vjs-fullscreen:not(.vjs-ios-native-fs) {
  -webkit-transform: translate(0, -50%) !important;
  transform: translate(0, -50%) !important;
}

html:-webkit-full-screen .item-videos.fullscreen-current .item-videos__main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

html:-ms-fullscreen .item-videos.fullscreen-current .item-videos__main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  transform: translate(0, 0);
}

html:fullscreen .item-videos.fullscreen-current .item-videos__main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.item-videos__main {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

html:-webkit-full-screen .item-videos.fullscreen-next .item-videos__main {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

html:-ms-fullscreen .item-videos.fullscreen-next .item-videos__main {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

html:fullscreen .item-videos.fullscreen-next .item-videos__main {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

html:-webkit-full-screen .item-videos.fullscreen-prev .item-videos__main {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

html:-ms-fullscreen .item-videos.fullscreen-prev .item-videos__main {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

html:fullscreen .item-videos.fullscreen-prev .item-videos__main {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

html:-webkit-full-screen .fullscreen-control-item-videos__button_open {
  display: none;
}

html:-ms-fullscreen .fullscreen-control-item-videos__button_open {
  display: none;
}

html:fullscreen .fullscreen-control-item-videos__button_open {
  display: none;
}

html:-webkit-full-screen .fullscreen-control-item-videos__button_opened {
  display: block !important;
}

html:-ms-fullscreen .fullscreen-control-item-videos__button_opened {
  display: block !important;
}

html:fullscreen .fullscreen-control-item-videos__button_opened {
  display: block !important;
}