body.fullscreen .videos-model__items_list {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

body.fullscreen .item-videos.fullscreen-current {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

body.fullscreen .item-videos.fullscreen-current {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body.fullscreen .item-videos.fullscreen-next {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body.fullscreen .item-videos__bottom {
  display: none;
}

body.fullscreen .item-videos__main {
  height: 100% !important;
}

body.fullscreen .videos__banner.fullscreen-next {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: fixed;
  top: 100%;
  width: 100%;
  height: 100%;
  z-index: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body.fullscreen .videos__banner.fullscreen-prev {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body.fullscreen .videos__banner.fullscreen-current {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: fixed;
  height: 100%;
  z-index: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body.fullscreen::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background: var(--body-background);
}

body.fullscreen .item-videos.fullscreen-prev {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body.fullscreen .fullscreen-control-item-videos__button_open {
  display: none;
}

body.fullscreen .fullscreen-control-item-videos__button_opened {
  display: block !important;
}

body.fullscreen .item-videos {
  max-width: none !important;
}

body.default [data-fullscreen-item] {
  top: 0 !important;
  -webkit-transform: none !important;
  transform: none !important;
}

.videos__item.lazy .item-videos__block {
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 991.98px) {
  body.fullscreen .vjs-paused {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
  }

  body.fullscreen .vjs-paused video {
    opacity: 0;
    visibility: hidden;
  }

  body.fullscreen .vjs-playing {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0s ease 0.1s;
    transition: all 0s ease 0.1s;
  }

  body.fullscreen .vjs-playing video {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0s ease 0.1s;
    transition: all 0s ease 0.1s;
  }
}