body.fullscreen .videos-model__items_list,
html:-webkit-full-screen .videos-model__items_list {
  display: -webkit-box !important;
  display: flex !important;
}

body.fullscreen .item-videos.fullscreen-current .item-videos__main,
html:-webkit-full-screen .item-videos.fullscreen-current .item-videos__main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

body.fullscreen .item-videos.fullscreen-current .item-videos__main,
html:-webkit-full-screen.item-videos.fullscreen-current .item-videos__main {
  -webkit-transition: top 0.3s ease 0s;
  transition: top 0.3s ease 0s;
}

body.fullscreen .item-videos.fullscreen-next .item-videos__main,
html:-webkit-full-screen .item-videos.fullscreen-next .item-videos__main {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  -webkit-transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

body.fullscreen .videos__banner.fullscreen-next,
html:-webkit-full-screen .videos__banner.fullscreen-next {
  -webkit-transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  position: fixed;
  top: 100%;
  width: 100%;
  height: 100%;
  z-index: 600;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

body.fullscreen .videos__banner.fullscreen-prev,
html:-webkit-full-screen .videos__banner.fullscreen-prev {
  -webkit-transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  position: fixed;
  top: 100%;
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
  width: 100%;
  height: 100%;
  z-index: 600;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

body.fullscreen .videos__banner.fullscreen-current,
html:-webkit-full-screen .videos__banner.fullscreen-current {
  -webkit-transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  position: fixed;
  top: 0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
  z-index: 600;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

body.fullscreen::before,
html:-webkit-full-screen body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background: var(--body-background);
}

body.fullscreen .item-videos.fullscreen-prev .item-videos__main,
html:-webkit-full-screen .item-videos.fullscreen-prev .item-videos__main {
  position: fixed;
  top: -100%;
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  -webkit-transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

body.fullscreen .fullscreen-control-item-videos__button_open,
html:-webkit-full-screen .fullscreen-control-item-videos__button_open {
  display: none;
}

body.fullscreen .fullscreen-control-item-videos__button_opened,
html:-webkit-full-screen .fullscreen-control-item-videos__button_opened {
  display: block !important;
}

@media (max-width: 991.98px) {
  body.fullscreen .vjs-paused {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
  }

  body.fullscreen .vjs-paused video {
    opacity: 0;
    visibility: hidden;
  }

  body.fullscreen .vjs-playing {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0s ease 0.1s;
    transition: all 0s ease 0.1s;
  }

  body.fullscreen .vjs-playing video {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0s ease 0.1s;
    transition: all 0s ease 0.1s;
  }
}