.modal {
  -webkit-transition: all var(--transition) ease 0s;
  transition: all var(--transition) ease 0s;
  opacity: 0;
  visibility: hidden;
  background: rgba(13, 13, 14, 0.8);
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal__content {
  text-align: left;
  height: auto;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  background: var(--body-background);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  padding: 12px 8px;
}

.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 48px;
  border-bottom: 1px solid #1E1E1F;
  position: relative;
}

.modal__prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.modal__prev svg {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  width: 24px;
  height: 24px;
  color: var(--body-white-color);
  fill: transparent;
}

.modal__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--body-white-color);
}

.modal__footer {
  padding-top: 12px;
  border-top: 1px solid #1E1E1F;
}

.modal__button {
  width: 100%;
}

.modal__button::before {
  background: var(--body-background);
}

.modal__button span {
  margin: 0 !important;
}

.report-body {
  padding: 8px 12px;
}

.report-body_p {
  padding: 24px 12px;
}

.report-body__checkbox {
  padding: 15px 0;
  display: block;
}

.report-body .checkbox__text::after {
  background: var(--body-white-color) !important;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 4px;
  top: 6px;
}

.report-body .checkbox__input:checked + .checkbox__text:before {
  background: var(--body-pink-color);
}

.report-body__input {
  margin-bottom: 24px;
}

.report-body__input:last-child {
  margin: 0;
}

.report-body__label {
  margin-bottom: 22px;
  color: var(--body-gray-color);
  font-size: 14px;
  line-height: 17px;
}

.report-body__variants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.report-body__variants .report-body__checkbox {
  margin-right: 24px;
  padding: 0 !important;
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.report-body__variants .report-body__checkbox:last-child {
  margin: 0;
}

@media (min-width: 991.98px) {
  .modal {
    padding: 30px;
  }

  .modal__content {
    max-width: 360px;
  }
}

@media (max-width: 991.98px) {
  .modal {
    padding: 30px 0 0 0;
  }

  .modal__content {
    margin: auto auto 0 auto;
  }

  .modal__content {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}