.paging__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 -9px;
}

.paging__list li {
  padding: 0 9px;
}

.paging__item {
  width: 40px;
  height: 40px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid var(--body-gray-color);
  border-radius: 6px;
  font-size: 14px;
  line-height: 17px;
  -webkit-transition: all var(--transition) ease 0s;
  transition: all var(--transition) ease 0s;
  color: var(--body-white-color);
}

.paging__item_prev svg {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.paging__item_prev,
.paging__item_next {
  border: none;
}

.paging__item_prev svg,
.paging__item_next svg {
  fill: transparent;
  -webkit-transition: all var(--transition) ease 0s;
  transition: all var(--transition) ease 0s;
  color: var(--body-pink-color);
}

.paging__item.current {
  color: var(--body-gray-color);
  pointer-events: none;
  cursor: auto;
  background: var(--body-background);
}

.paging__item_prev.disabled,
.paging__item_next.disabled {
  cursor: auto;
}

.paging__item_prev.disabled svg,
.paging__item_next.disabled svg {
  color: var(--body-gray-color);
  width: 20px;
  height: 20px;
}

@media (max-width: 768.98px) {
  .paging-additional-item {
    display: none;
  }
}

@media (any-hover: hover) {
  .paging__item:hover {
    border-color: var(--body-pink-color);
    background: var(--body-pink-color);
  }

  .paging__item_prev:hover svg,
  .paging__item_next:hover svg {
    color: var(--body-white-color);
  }

  .paging__item.current:hover {
    border: 1px solid var(--body-gray-color);
    background: transparent;
  }

  .paging__item_prev.disabled:hover,
  .paging__item_next.disabled:hover {
    background: transparent;
  }

  .paging__item_prev.disabled:hover svg,
  .paging__item_next.disabled:hover svg {
    color: var(--body-gray-color);
  }
}