.slider {
  position: relative;
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--body-background);
  z-index: 9;
  -webkit-transition: all var(--transition) ease 0s;
  transition: all var(--transition) ease 0s;
}

.slider.init::before {
  opacity: 0;
  visibility: hidden;
}

.slider__top {
  margin-bottom: 24px;
}

.slider__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider__more {
  font-weight: 700;
  color: var(--body-pink-color);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  line-height: 128.5714285714%;
  padding-right: 28px;
  position: relative;
  margin-left: 20px;
}

.slider__more svg {
  position: absolute;
  top: -1px;
  right: 0;
}

.slider__main {
  position: relative;
  margin-bottom: 24px;
}

.slider__main:last-child {
  margin: 0;
}

.slider__main .slider-button-next,
.slider__main .slider-button-prev {
  opacity: 0;
  visibility: hidden;
}

.slider__main .slider-button-next.swiper-button-disabled::before,
.slider__main .slider-button-prev.swiper-button-disabled::before {
  opacity: 0 !important;
  visibility: hidden !important;
  width: 0;
  height: 0;
}

.slider__main .slider-button-next {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  z-index: 10;
}

.slider__main .slider-button-next::before {
  content: "";
  position: absolute;
  top: 0;
  right: -23px;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  background: -webkit-gradient(linear, left top, right top, from(#0D0D0E), to(rgba(13, 13, 14, 0)));
  background: linear-gradient(90deg, #0D0D0E 0%, rgba(13, 13, 14, 0) 100%);
}

.slider__main .slider-button-next svg {
  position: relative;
  z-index: 3;
  margin-left: 20px;
}

.slider__main .slider-button-prev {
  width: 100px;
  height: 100%;
  z-index: 10;
}

.slider__main .slider-button-prev::before {
  content: "";
  position: absolute;
  top: 0;
  left: -23px;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#0D0D0E), to(rgba(13, 13, 14, 0)));
  background: linear-gradient(90deg, #0D0D0E 0%, rgba(13, 13, 14, 0) 100%);
}

.slider__main .slider-button-prev svg {
  position: relative;
  z-index: 3;
  margin-right: 20px;
}

.slider__body {
  padding: 3px;
}

.slider__body .swiper-wrapper {
  padding-right: 30px;
}

.slider__body_first .slider__item,
.slider__body_third .slider__item,
.slider__body_fourth .slider__item {
  width: 13.7% !important;
}

.slider__body_first .slider__item_big,
.slider__body_third .slider__item_big,
.slider__body_fourth .slider__item_big {
  width: 337px !important;
}

.slider__item {
  min-height: 352px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: auto !important;
}

.slider__item_inner {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider__item_inner .block-video video {
  -o-object-position: center center;
  object-position: center center;
}

.slider__item_inner .item-slider__block {
  width: calc(50% - 8px);
}

.slider__item_inner .item-slider__block_big {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.item-slider__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(50% - 8px);
}

.item-slider__block_big {
  margin-bottom: 16px;
}

.item-slider__block_big video {
  -o-object-position: center center;
  object-position: center center;
}

body.mobile .slider-button-next,
body.mobile .slider-button-prev {
  opacity: 1;
  visibility: visible;
}

body.mobile .slider-button-prev::before,
body.mobile .slider-button-prev::after {
  opacity: 1;
  visibility: visible;
}

body.mobile .slider-button-next::before,
body.mobile .slider-button-next::after {
  opacity: 1;
  visibility: visible;
}

.slider__main.prev-disabled::before {
  opacity: 0 !important;
  visibility: hidden !important;
}

.slider__main.next-disabled::after {
  opacity: 0 !important;
  visibility: hidden !important;
}

@media (min-width: 768.98px) {
  .slider__top .slider__more {
    display: none;
  }
}

@media (max-width: 1300.98px) {
  .slider__main .slider-button-next::before {
    right: -35px;
  }

  .slider__main .slider-button-prev::before {
    left: -35px;
  }

  .slider__body {
    overflow: visible !important;
  }

  .slider__body_first .slider__item,
  .slider__body_third .slider__item,
  .slider__body_fourth .slider__item {
    width: 18.21% !important;
  }

  .slider__body_first .slider__item_big,
  .slider__body_third .slider__item_big,
  .slider__body_fourth .slider__item_big {
    width: 337px !important;
  }
}

@media (max-width: 768.98px) {
  .slider__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .slider__bottom .slider__more {
    display: none !important;
  }

  .slider__more {
    font-size: 12px;
  }

  .slider__more svg svg {
    top: -6px;
  }

  .slider__main .slider-button-next {
    width: 55px;
  }

  .slider__main .slider-button-next::before {
    right: -17px;
  }

  .slider__main .slider-button-prev {
    width: 55px;
  }

  .slider__main .slider-button-prev::before {
    left: -17px;
  }

  .slider__body .swiper-wrapper {
    padding-right: 20px;
  }

  .slider__body_first .slider__item,
  .slider__body_third .slider__item,
  .slider__body_fourth .slider__item {
    width: 27.9% !important;
  }

  .slider__body_first .slider__item_big,
  .slider__body_third .slider__item_big,
  .slider__body_fourth .slider__item_big {
    width: 337px !important;
  }
}

@media (max-width: 575.98px) {
  .slider__body_first .slider__item,
  .slider__body_third .slider__item,
  .slider__body_fourth .slider__item {
    width: 47.2% !important;
  }

  .slider__body_first .slider__item_big,
  .slider__body_third .slider__item_big,
  .slider__body_fourth .slider__item_big {
    width: 337px !important;
  }

  .slider__body_first .slider__item_big.slider__item_inner,
  .slider__body_third .slider__item_big.slider__item_inner,
  .slider__body_fourth .slider__item_big.slider__item_inner {
    width: 100% !important;
  }
}

@media (max-width: 360.98px) {
  .slider__body_first .slider__item,
  .slider__body_third .slider__item,
  .slider__body_fourth .slider__item {
    width: 50.7% !important;
  }
}

@media (any-hover: hover) {
  .slider__more:hover svg {
    -webkit-animation: more-link-arrow 1s infinite ease;
    animation: more-link-arrow 1s infinite ease;
  }

  .slider__main:hover .slider-button-next,
  .slider__main:hover .slider-button-prev {
    opacity: 1;
    visibility: visible;
  }

  .slider__main:hover .slider-button-next::before,
  .slider__main:hover .slider-button-prev::before {
    opacity: 1 !important;
    visibility: visible !important;
  }
}